{{ range $element :=  .Data.Pages }}
   {{ if eq .Section "home" }}
       {{ if eq .Title "second_section" }}
					<div class="container marketing"> 
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4 ic">
      <h2 class="title">{{.Params.left_title}}</h2>
      <p>{{.Params.left_text}}</p>
    </div>
    <!-- /.span4 -->
    <div class="span4 homemid ">
      <h2 class="title">{{.Params.middel_title}}</h2>
      <p>{{.Params.middel_text}}</p>
    </div>
    <!-- /.span4 -->
    <div class="span4">
      <h2 class="title">{{.Params.right_title}}</h2>
      <p>{{.Params.right_text}}</p>
      <hr>
      <a href="{{.Params.right_link}}" class="map"></a> </div>
    <!-- /.span4 --> 
  </div>
  <!-- /.row --> 
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
					{{ end }}
			{{ end }}
{{ end }}
