{{ range $element :=  .Data.Pages }}
   {{ if eq .Section "home" }}
       {{ if eq .Title "second_section" }}
					<div class="container marketing"> 
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4 ic">
      <h2 class="title">Try our GreenBoat</h2>
      <p>Try our GreenBoat yourself, it is available for a day charter in the Caribbean.</p>
    </div>
    <!-- /.span4 -->
    <div class="span4 homemid ">
      <h2 class="title">GreenBoat</h2>
      <p>We present you a revolutionary new catamaran, since we made it to be best in all categories: Design, Green, Performant, High Tech, Spacious, Reliable and Cost Efficient!</p>
    </div>
    <!-- /.span4 -->
    <div class="span4">
      <h2 class="title">Visit us at major boat shows</h2>
      <p>Come and see us in Cannes, Rochefort and Miami!</p>
      <hr>
      <a href="http://www.greenboats.com/greenboats/Destinations" class="map"></a> </div>
    <!-- /.span4 --> 
  </div>
  <!-- /.row --> 
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
					{{ end }}
			{{ end }}
{{ end }}
