{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div class="container marketing">
  <div class="container">
    <div class="row-fluid page-content">
       <div class="span3">
       </div>
    </div>
	<div class="span12">
	   <h2 class="title">{{.Title}}</h2>
	   <div class="video-player">
	      <iframe width="780" height="439" src="{{ .Params.video_link }}" frameborder="0" allowfullscreen></iframe>
	   </div>
    </div>
  </div>
	
	<hr class="featurette-divider">

	{{ partial "second_section.html" . }}
</div>

	{{ partial "footer.html" . }}


<style>  
iframe{ width:780px !important; height:439px !important;}
.video-player{ text-align: center; }
</style>
