{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "intro_slider.html" . }}
{{ partial "second_section.html" . }}
{{ partial "footer.html" . }}
</div>
<!-- /.container -->
<script type="text/javascript">
  try{
  var pageTracker = _gat._getTracker("UA-26242914-1");
  pageTracker._trackPageview();
  } catch(err) {}
</script>
<script type="text/javascript">
!function ($) {
    $(function () {
        // carousel demo
        $('#myCarousel').carousel()
    })
} (window.jQuery)
</script>
</body>
</html>
