{{ partial "head.html" . }}
{{ partial "header.html" . }}

<style type="text/css">
  body {
    padding-top: 80px;
    padding-bottom: 0px;
}
</style>


<div class="container marketing">
<div class="container">
<div class="row-fluid page-content">
<div class="span3">
<button class="c-hamburger c-hamburger--htla" title="Topics" style="display: none;"><span>toggle hamburger</span></button><div class="well sidebar-nav hide" style="display: block;"><li class="nav-page-active"><a href="/shows.html"><i class=""></i>Shows</a></li>
</div>
</div>
<div class="span9">
<h2 class="title">Shows</h2>
<p>We are always present on the booth of Nautitech on major boat shows.</p>
<p>Pre-register to visit the GreenBoat now!: E-mail us at: <a class="external-link" rel="nofollow" href="mailto:register@greenboats.com">register@greenboats.com</a>
.</p>
<ul>
<li>Miami Boatshow</li>
<ul>
<li><a href="http://www.miamiboatshow.com/">www.miamiboatshow.com</a></li>
</ul>
</ul>
<ul>
<li>Cannes Boatshow</li>
<ul>
<li><a href="http://www.salonnautiquecannes.com/">www.salonnautiquecannes.com</a></li>
</ul>
</ul>
<ul>
<li>Le Grand Pavois de La Rochelle</li>
<ul>
<li><a href="http://www.grand-pavois.com/">www.grand-pavois.com</a></li>
</ul>
</ul>
</div>
</div>
<!-- START THE FEATURETTES -->
<hr class="featurette-divider">

	
{{ partial "footer.html" . }}




