{{ partial "head.html" . }}
{{ partial "header.html" . }}

<style type="text/css">
  body {
    padding-top: 80px;
    padding-bottom: 0px;
}
</style>


<div class="container marketing">
<div class="container">
<div class="row-fluid page-content">
<div class="span3">
<button class="c-hamburger c-hamburger--htla" title="Topics" style="display: none;"><span>toggle hamburger</span></button><div class="well sidebar-nav hide" style="display: block;"><li class="nav-page-active"><a href="./ourMission.html"><i class=""></i>Our Mission</a></li>
</div>
</div>
<div class="span9">
<h2 class="title">Our Mission</h2>
<p>We believe that today people looking for a catamaran between 46 &amp; 60 feet only have 2 options.</p>
<p>We believe there is a market for a boat with a different approach as outligned in the following diagram.</p>
<p><img src="/images/GreenCatSwot.png" alt="GreenCatSwot.png" style="clear:both;"></p>
<p>GreenBoats has been looking for the right parther which can build the GreenBoat. We found Nautitech.</p>
<ul>
<li>Nautitech brings 20+ years of experience building safe &amp; high performance sailing boats &amp; catamarans see <a href="http://www.nautitech.com/">http://www.nautitech.com</a></li>
<li>Since 1994, Nautitech has been one of the largest catamaran builders in France.</li>
</ul>
<p><a href="./GreenBoat.html">Read More</a> about all the features and advantages of <a href="./GreenBoat.html">GreenBoat</a>.</p>
<p><a href="./Compare.html">Read More About How We Compare Catamarans</a> .</p>
</div>
</div>
<!-- START THE FEATURETTES -->
<hr class="featurette-divider">

  
{{ partial "footer.html" . }}



