<!-- Footer
  =================================================== -->
  {{ range $element :=  $.Site.Pages }}
    {{ if eq .Section "home" }}
      {{ if eq .Title "footer_box" }}
       </div>
       <footer>
         <div class="container">
            <!--  START THE FEATURETTES -->
            <hr class="featurette-divider">
            <p class="pull-right"><a href="#">Back to top</a></p>
          <p>© 2013 Green Charters. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
       </div>
      </footer>

<!-- /.container --> 


<script  src='/js/load-image.min.js' type='text/javascript'></script>
<script  src='/js/bootstrap-image-gallery.min.js' type='text/javascript'></script>
<link  href='/css/bootstrap-image-gallery.min.css' type='text/css' rel='stylesheet' />
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-26242914-1");
pageTracker._trackPageview();
} catch(err) {}
</script> 
<script type="text/javascript">
!function ($) {
$(function () {
// carousel demo
$('#myCarousel').carousel()
})
} (window.jQuery)
</script>


<script src="/js/uikit.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
      
         // Portfolio script
        var $portfolioClone = $(".portfolio-grid").clone();
        $(".portfolio-filter a").click(function (e) {

          $(this).parent().removeClass("active").siblings().removeClass("active");

          var $filter = $(this).parent().attr("class");

          if ($filter == "all") {
            var $filteredPortfolio = $portfolioClone.find("li");
          } else {
            var $filteredPortfolio = $portfolioClone.find("li[data-type~=" + $filter + "]");
          }

          $(".portfolio-grid").quicksand($filteredPortfolio, function () { $("a[data-gal^='prettyPhoto']").prettyPhoto({ hook: 'data-gal', show_title: false }) });


          $(this).parent().addClass("active");
          e.preventDefault();
        });
          
      });
    </script>
</body>
</html>
        {{end}}
    {{end}}
  {{end}}
        <!-- /Footer
        =================================================== -->