
<!-- Intro Block
      ============================================ -->
      {{ range $element :=  .Site.Pages }}
                            
          {{ if eq .Title "intro_slider_box" }}
      <!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active"> <img src="{{.Params.slide1_pic}}" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{.Params.slide1_title_main}}</h1>
          <p class="lead">{{.Params.slide1_text}}</p>
        </div>
      </div>
    </div>
    <div class="item"> <img src="{{.Params.slide2_pic}}" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{.Params.slide2_title_main}}</h1>
          <p class="lead"> {{.Params.slide2_text}} </p>
        </div>
      </div>
    </div>
    <div class="item"> <img src="{{.Params.slide3_pic}}" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{.Params.slide3_title_main}}</h1>
          <p class="lead">{{.Params.slide3_text}} </p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="http://www.greenboats.com/greenboats/Home#myCarousel" data-slide="prev">‹</a> <a class="right carousel-control" href="http://www.greenboats.com/greenboats/Home#myCarousel" data-slide="next">›</a> 
</div>
<!-- /.carousel -->
<div class="container vbtn"> <a class="video" href="/video"> </a> </div>

      {{end}}
      {{end}}