
{{ range $element :=  $.Site.Pages }}

       {{ if eq .Title "second_section" }}
					<div class="container marketing info-part"> 
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4 ic">
      <h2 class="title">{{.Params.left_title}}</h2>
      <p>{{.Params.left_text}}</p>
       <hr>
       <div class="c1"></div>
       <div class="c2"></div>
       <div class="c3"></div>
    </div>
    <!-- /.span4 -->
    <div class="span4 homemid ">
      <h2 class="title">{{.Params.middel_title}}</h2>
      <p>{{.Params.middel_text}}</p>
    </div>
    <!-- /.span4 -->
    <div class="span4">
      <h2 class="title">{{.Params.right_title}}</h2>
      <p>{{.Params.right_text}}</p>
      <hr>
      <div class="map"></div>
    </div>
    <!-- /.span4 --> 
  </div>
  <!-- /.row --> 
 
					{{ end }}
{{ end }}

